:root {
  --primary-bg-color: #000000;
  --secondary-bg-color: #ffffff;
  --logo-color: #ffffff;
  --card-bg-color: #ffffff;
  --delimiter-color: #ffffff;
  --card-marker-color: #6823ff;
  --card-border-color: #6823ff;
  --hover-nav-item-color: #6823ff;
  --txt-color: #ffffff;
  --txt-dark-color: #000000;
  --mobile-menu-icon-color: #ffffff;
  --btn-bg-color: #ffffff;
  --btn-txt-color: #000000;
  --advantages-block-bg-color: rgba(255, 255, 255, 0.1);
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Jura";
  src: url("./fonts/Jura-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Jura";
  src: url("./fonts/Jura-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  display: block;
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
  color: var(--txt-color);
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding-top: 50px;
  padding-bottom: 81px;
  background-color: var(--primary-bg-color);
}

.block-main::before {
  content: "";
  position: absolute;
}

.header .container {
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.header .logo {
  position: relative;
  font-family: "Jura", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--logo-color);

  z-index: 1;
}

.header .nav__list {
  display: none;
}

.header .nav__link {
  transition: color var(--transition-time);
}

.header .nav__link:hover,
.header .nav__link:focus {
  color: var(--hover-nav-item-color);
}

.language-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 48px;
  border: 1px solid var(--txt-color);
  border-radius: 5px;

  font-size: 14px;
  text-align: start;
}

.header .language-switcher {
  display: none;
}

.header .write-us-btn {
  display: none;
}

.successful-start-btn {
  position: relative;
  padding: 17.5px 10px;
  border-radius: 50px;

  background-color: var(--btn-bg-color);

  font-family: "Jura", sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--btn-txt-color);
  transition: transform var(--transition-time);

  z-index: 1;
}

.successful-start-btn:hover,
.successful-start-btn:focus {
  transform: rotateZ(5deg);
}

.burger-menu-btn {
  position: relative;
  z-index: 1;
}

.burger-menu-icon {
  fill: var(--mobile-menu-icon-color);
}

.hero {
  padding-bottom: 100px;

  background-color: var(--primary-bg-color);
}

.frame::before {
  content: "";
  position: absolute;
  top: 120px;
  left: 0px;

  width: 100%;
  max-width: 267px;
  height: 799px;

  background-image: url("./img/frame-480.svg");
  background-repeat: no-repeat;

  -webkit-mask-image: url("./img/gr-up-left-480.svg");
  -webkit-mask-repeat: no-repeat;
  mask-image: url("./img/gr-up-left-480.svg");
  mask-repeat: no-repeat;
}

.frame::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;

  width: 100%;
  max-width: 383px;
  height: 929px;

  background-image: url("./img/frame-480.svg");
  background-repeat: no-repeat;

  -webkit-mask-image: url("./img/gr-up-right-480.svg");
  -webkit-mask-repeat: no-repeat;
  mask-image: url("./img/gr-up-right-480.svg");
  mask-repeat: no-repeat;
}

.hero__title {
  position: relative;
  width: 370px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.hero__txt {
  position: relative;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;

  line-height: 1.28;
}

.hero__txt--uppercase {
  text-transform: uppercase;
}

.hero .successful-start-btn,
.dont-delay .successful-start-btn {
  position: relative;
  margin-bottom: 67px;
  padding: 25px 35px;

  font-size: 24px;
}

.dont-delay .successful-start-btn {
  margin-bottom: 0;
}

.advantages {
  position: relative;
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
  border-radius: 15px;

  background-color: var(--advantages-block-bg-color);
  backdrop-filter: blur(100px);
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 240px;
  height: 1px;
  margin-top: 30px;

  background-color: var(--delimiter-color);
}

.advantages__item--title {
  display: block;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.28;
}

/* Don't delay section */

.dont-delay__title-wrap {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--secondary-bg-color);
}

.dont-delay__title-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 315px;
  height: 276px;

  background-image: url("./img/gr-dwn-left-480.svg");
  background-repeat: no-repeat;
}

.dont-delay__title-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  width: 480px;
  height: 276px;

  background-image: url("./img/gr-dwn-right-480.svg");
  background-repeat: no-repeat;
}

.dont-delay__title {
  position: relative;

  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--txt-dark-color);
}

.dont-delay__list-wrap {
  padding-top: 100px;
  padding-bottom: 89px;
  background-color: var(--primary-bg-color);
}

.dont-delay__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 440px;
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
}

.dont-delay__item {
  position: relative;

  padding-left: 20px;
  padding-right: 7px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid var(--card-border-color);
  border-radius: 15px;

  text-align: start;
}

.dont-delay__item::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--card-marker-color);
}

.dont-delay__item-title {
  position: relative;
  margin-bottom: 15px;

  font-family: "Jura", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.dont-delay__item-txt {
  line-height: 1.28;
  /* letter-spacing: 0.01em; */
  word-spacing: 0.03em;
}

.dont-delay__item:nth-child(even) {
  background-color: var(--secondary-bg-color);
  color: var(--txt-dark-color);
}

/* Mobile menu */

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 111px;
  padding-left: 50px;
  background-color: var(--primary-bg-color);
  z-index: 1;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: transform var(--transition-time);
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  /* z-index: 1; */
}

.x-close-icon {
  fill: var(--mobile-menu-icon-color);
}

.menu-container .nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}

.menu-container .link {
  font-size: 18px;
}

/* 768 px */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }

  .header {
    padding-bottom: 70px;
  }

  .header .container {
    max-width: 768px;
    justify-content: flex-start;
    gap: 1px;
  }

  .header .logo {
    font-size: 32px;
    margin-right: 223px;
  }

  .header .write-us-btn {
    display: block;
    position: relative;
    padding: 15px 30px;
    border-radius: 100px;
    margin-right: 71px;

    background-color: var(--btn-bg-color);

    font-family: "Jura", sans-serif;
    font-weight: 700;
    color: var(--btn-txt-color);
    transition: transform var(--transition-time);

    z-index: 1;
  }

  .write-us-btn:hover,
  .write-us-btn:focus {
    transform: rotateZ(5deg);
  }

  .header .successful-start-btn {
    display: none;
  }

  .hero {
    padding-bottom: 75px;
  }

  .frame::before {
    top: 180px;

    max-width: 453px;
    height: 799px;

    background-image: url("./img/frame-768.svg");
    background-repeat: no-repeat;

    -webkit-mask-image: url("./img/gr-up-left-768.svg");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("./img/gr-up-left-768.svg");
    mask-repeat: no-repeat;
  }

  .frame::after {
    max-width: 485px;
    height: 883px;

    background-image: url("./img/frame-768.svg");
    background-repeat: no-repeat;

    -webkit-mask-image: url("./img/gr-up-right-768.svg");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("./img/gr-up-right-768.svg");
    mask-repeat: no-repeat;
  }

  .hero__title {
    width: 690px;

    font-size: 45px;
  }

  .hero__txt {
    width: 575px;
  }

  .advantages {
    width: 100%;
    padding: 30px 20px;
  }

  .dont-delay__list-wrap {
    padding-bottom: 165px;
  }

  .advantages__list {
    display: flex;
    text-align: start;
  }

  .advantages__item {
    position: relative;
  }

  .advantages__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .advantages__item:not(:last-child)::after {
    position: absolute;
    width: 1px;
    height: 101px;
    bottom: 0px;
    right: -20px;
  }

  .dont-delay__title-wrap::before {
    width: 518px;
    height: 289px;

    background-image: url("./img/gr-dwn-left-768.svg");
  }

  .dont-delay__title-wrap::after {
    width: 570px;
    height: 289px;

    background-image: url("./img/gr-dwn-right-768.svg");
  }

  .dont-delay__title {
    font-size: 40px;
  }

  .dont-delay__list {
    gap: 50px;
    margin-bottom: 65px;
    min-width: 590px;
  }

  .dont-delay__item {
    height: 313px;
  }

  .dont-delay__item-title {
    font-size: 30px;
  }

  .dont-delay__item-txt {
    font-size: 22px;
  }
}

/* 1200 px */

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 120px;
  }

  .header {
    padding-bottom: 81px;
  }

  .header .container {
    max-width: 1440px;

    justify-content: space-between;
  }

  .header .logo {
    font-size: 36px;
    margin-right: 90px;
  }

  .header .nav__list {
    position: relative;
    display: flex;
    gap: 66px;

    font-size: 18px;

    z-index: 1;
  }

  .header .language-switcher {
    display: flex;
  }

  .header .write-us-btn {
    display: none;
  }

  .header .successful-start-btn {
    display: block;
  }

  .burger-menu-btn {
    display: none;
  }

  .language-switcher {
    position: relative;
    z-index: 1;

    transition: border-color var(--transition-time);
  }

  .language-switcher:hover,
  .language-switcher:focus {
    border-color: var(--hover-nav-item-color);
    cursor: pointer;
  }

  .language-switcher .active {
    color: var(--hover-nav-item-color);
  }

  .hero {
    padding-bottom: 100px;
  }

  .frame::before {
    top: 0px;

    max-width: 574px;
    height: 390px;

    background-image: url("./img/frame-1200.svg");
    background-repeat: no-repeat;

    -webkit-mask-image: url("./img/gr-up-left-1200.svg");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("./img/gr-up-left-1200.svg");
    mask-repeat: no-repeat;
  }

  .frame::after {
    max-width: 651px;
    height: 887px;

    background-image: url("./img/frame-1200.svg");
    background-repeat: no-repeat;

    -webkit-mask-image: url("./img/gr-up-right-1200.svg");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("./img/gr-up-right-1200.svg");
    mask-repeat: no-repeat;
  }

  .frame-centr::before {
    content: "";
    position: absolute;
    top: 170px;
    left: 0;

    width: 100%;
    max-width: 959px;
    height: 799px;

    background-image: url("./img/frame-1200.svg");
    background-repeat: no-repeat;

    -webkit-mask-image: url("./img/gr-up-centr-1200.svg");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("./img/gr-up-centr-1200.svg");
    mask-repeat: no-repeat;
  }

  .hero__title {
    width: 790px;
    margin-bottom: 42px;

    font-size: 50px;
  }

  .hero__dwn-part-wrap {
    display: flex;
    align-items: center;
    gap: 51px;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .hero__txt {
    margin-bottom: 0;

    font-size: 22px;
    text-align: start;
  }

  .hero .successful-start-btn {
    margin-bottom: 0;
  }

  .advantages {
    padding: 30px 50px;
  }

  .advantages__item {
    font-size: 22px;
  }

  .advantages__item--title {
    font-size: 22px;
  }

  .advantages__item:not(:last-child) {
    margin-right: 128px;
  }

  .advantages__item:not(:last-child)::after {
    bottom: -20px;
    right: -64px;
  }

  .dont-delay__title-wrap::before {
    width: 652px;
    height: 318px;

    background-image: url("./img/gr-dwn-left-1200.svg");
  }

  .dont-delay__title-wrap::after {
    width: 485px;
    height: 318px;

    background-image: url("./img/gr-dwn-right-1200.svg");
  }

  .dont-delay__title {
    width: 790px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
  }

  .dont-delay__list-wrap {
    padding-bottom: 103px;
  }

  .dont-delay__list {
    min-width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 50px 20px;

    .dont-delay__item:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    .dont-delay__item:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
    }
    .dont-delay__item:nth-child(4) {
      grid-column: 2;
      grid-row: 1;
    }
    .dont-delay__item:nth-child(5) {
      grid-column: 2;
      grid-row: 2;
    }
    .dont-delay__item:nth-child(6) {
      grid-column: 2;
      grid-row: 3;
    }
  }

  .dont-delay__item {
    width: 590px;
  }
}

/* 1600 px */

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    padding: 0 160px;
  }

  .header {
    padding-bottom: 70px;
  }

  .header .container {
    max-width: 1920px;
  }

  .header .logo {
    font-size: 40px;
    margin-right: 409px;
  }

  .header .write-us-btn {
    display: block;
    margin-left: 100px;
    margin-right: 0;
    border-radius: 10px;
  }

  .header .successful-start-btn {
    display: none;
  }

  .frame::before {
    max-width: 684px;
    height: 541px;

    background-image: url("./img/frame-1600.svg");
    background-repeat: no-repeat;

    -webkit-mask-image: url("./img/gr-up-left-1600.svg");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("./img/gr-up-left-1600.svg");
    mask-repeat: no-repeat;
  }

  .frame::after {
    max-width: 944px;
    height: 1120px;

    background-image: url("./img/frame-1600.svg");
    background-repeat: no-repeat;

    -webkit-mask-image: url("./img/gr-up-right-1600.svg");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("./img/gr-up-right-1600.svg");
    mask-repeat: no-repeat;
  }

  .frame-centr::before {
    max-width: 1132px;
    height: 897px;

    background-image: url("./img/frame-1600.svg");
    background-repeat: no-repeat;

    -webkit-mask-image: url("./img/gr-up-centr-1600.svg");
    -webkit-mask-repeat: no-repeat;
    mask-image: url("./img/gr-up-centr-1600.svg");
    mask-repeat: no-repeat;
  }

  .hero__title {
    width: 1015px;
    margin-bottom: 43px;

    font-size: 64px;
  }

  .hero__dwn-part-wrap {
    width: 1085px;
  }

  .hero__txt {
    margin-left: 0;
  }

  .advantages {
    width: 1428px;
    padding: 42px 104px;
  }

  .advantages__item:not(:last-child) {
    margin-right: 187px;
  }

  .advantages__item:not(:last-child)::after {
    bottom: -20px;
    right: -94px;
  }

  .dont-delay__title-wrap::before {
    width: 735px;
    height: 352px;

    background-image: url("./img/gr-dwn-left-1600.svg");
  }

  .dont-delay__title-wrap::after {
    width: 735px;
    height: 352px;

    background-image: url("./img/gr-dwn-right-1600.svg");
  }

  .dont-delay__title {
    width: 978px;

    font-size: 64px;
  }

  .dont-delay__list-wrap {
    padding-bottom: 258px;
  }

  .dont-delay__item {
    width: 794px;
    height: 285px;
  }
}
